<main class="main overflow-hidden">
  <!-- Top Toolbar -->
  <!-- <app-top-toolbar></app-top-toolbar> -->

  <div class="scroll-section scrollable-content">
    <!-- Section 1 -->
    <!-- <section class="section1 snap-section snap-center-section"> -->
    <section class="section1">
      <!-- <section class="section1"> -->
      <!-- <div class="section1-container p-28 pb-44"> -->
      <div class="section-container p-28">
        <div class="section1-content">
          <div class="section1-title"></div>
          <div>
            <img src="pixel-slime-blue-removebg.png" />
          </div>
        </div>

        <!-- <div #box class="box h-56 w-56 bg-gray-400">123123</div> -->
        <!-- <div class="grid grid-cols-3 gap-x-20">
          <div class="col-span-2 flex flex-col">
            <div class="flex mt-24">
              <div class="section1-title"></div>
            </div>
            <div class="section1-subtitle">Web & Mobile</div>
            <div class="section1-description">
              We are a group of developer specializing in building responsive UI
              for Web and Mobile
            </div>
            <div class="flex gap-x-3">
              <div>Icon 1</div>
              <div>Icon 2</div>
              <div>Icon 4</div>
            </div>
          </div>

          <div class="col-span-1">
            <img src="pixel-slime-blue-removebg.png" />
          </div>
        </div> -->
      </div>
    </section>

    <!-- Section 2 -->
    <!-- <section class="section2 snap-section snap-always snap-center"> -->
    <section class="section2">
      <div class="section-container !p-0">
        <div class="section2-content">
          <!-- [className]="'project-item-' + '-1'" -->
          @for (item of projectList; track $index) {
          <!-- class="project-item" -->
          <div
            class="project-item"
            [class]="'project-item-' + $index"
            (mouseenter)="mouseEnter($index)"
            (mouseleave)="mouseLeave($index)"
          >
            <div class="project-bg" [class]="'project-bg-' + $index"></div>
            <div class="absolute">
              <div class="project-title">{{ item.Name }}</div>
              <div class="project-info">{{ item.Info }}</div>
            </div>
          </div>
          <!-- <div
            class="project-item"
            (mouseenter)="mouseEnter($event)"
            (mouseleave)="mouseLeave()"
          >
            <div class="project-title">Inventory App</div>
            <div class="project-info">Operation Mobile App</div>
          </div> -->
          }
          <!-- <div class="project-title">Business Landing</div>
          <div class="project-info">Responsive Web</div> -->

          <!-- <div class="section2-title !items-start">about</div> -->
          <!-- <div class="section2-title !items-end">us</div> -->
          <!-- <div class="section2-body">
            At Digital Slime Studio, we are passionate about transforming ideas
            into innovative software solutions that drive business success. With
            a team of skilled engineers, designers, and problem-solvers, we
            specialize in crafting tailored software solutions that meet the
            unique needs of our clients. Our mission is to empower businesses
            with cutting-edge technology, seamless user experiences, and
            scalable systems that propel growth. Whether you're a startup or an
            established enterprise, we’re here to turn your vision into reality.
          </div> -->
        </div>
      </div>
      <!-- <div class="flex flex-col w-full h-full p-28 pb-44">
        <div class="flex text-3xl font-bold mb-6">Working Experience</div>

        <div class="card work-exp-card h-full">
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">SRT</p-tab>
              <p-tab value="1">SBT</p-tab>
              <p-tab value="2">ING</p-tab>
            </p-tablist>

            <p-tabpanels>
              <p-tabpanel value="0">
                <p class="m-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
              </p-tabpanel>
              <p-tabpanel value="1">
                <p class="m-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Consectetur, adipisci velit, sed quia non numquam
                  eius modi.
                </p>
              </p-tabpanel>
              <p-tabpanel value="2">
                <p class="m-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium voluptatum deleniti atque corrupti quos
                  dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident, similique sunt in culpa qui officia deserunt
                  mollitia animi, id est laborum et dolorum fuga. Et harum
                  quidem rerum facilis est et expedita distinctio. Nam libero
                  tempore, cum soluta nobis est eligendi optio cumque nihil
                  impedit quo minus.
                </p>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>

      </div> -->
    </section>
  </div>

  <div>HI!!</div>
  <div>I'm Slime YC</div>
  <div>Fullstack Developer</div>

  <div class="card flex justify-center">
    <p-button label="Check" size="small" />
  </div>
</main>

<router-outlet />
