.snap-section {
  @apply h-svh;
}

.snap-center-section {
  @apply snap-always snap-center;
}

.section-container {
  @apply relative w-full h-full p-28;
}

.section1 {
  @apply h-[700px] bg-gradient-to-r from-slate-50 to-slate-300;

  .section1-container {
    @apply w-full h-full;
  }

  .section1-content {
    min-height: 100%;
    @apply flex flex-col gap-y-10 items-center;
  }

  .section1-title {
    filter: drop-shadow(3px 4px black);
    @apply text-[5rem] leading-[110px]
      font-bold bg-gradient-to-r from-indigo-600 to-sky-400 bg-clip-text
      text-transparent; // drop-shadow-lg

    // @apply text-5xl leading-[65px] font-bold bg-gradient-to-r from-indigo-600 to-sky-400
    //   bg-clip-text text-transparent drop-shadow-lg;
  }

  .section1-subtitle {
    @apply text-2xl font-bold font-cursive mb-12;
  }

  img {
    // box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  }

  .section1-description {
  }

  .section1-profile-picture {
    @apply bg-gray-100 rounded-full;
  }
}

.font-cursive {
  font-family: cursive;
}

.scroll-section {
  @apply h-screen snap-y snap-mandatory overflow-y-scroll;
}

.section2 {
  @apply h-[700px] bg-gradient-to-r from-slate-50 to-slate-300;

  .section2-content {
    min-height: 100%;
    @apply flex flex-col;
  }

  // project-item configuration
  .project-item-p {
    @apply pl-32;
  }

  .project-item {
    // background-image: url("../../public/pixel-slime-blue-removebg.png");
    @apply relative py-10 h-[180px]; //hover:bg-yellow-300
  }

  .project-bg {
    // transform: perspective(100px) rotateY(5deg);
    // transform: perspective(500px) rotateY(5deg);
    background-image: url("../../public/pixel-slime-blue-removebg.png");
    @apply absolute top-0 flex justify-center items-center h-full w-0; //hover:bg-blue-300
  }

  .project-title {
    // background: hsl(102, 93%, 62%);
    // transform: perspective(300px) rotateY(25deg);
    // transform-origin: left;
    @extend .project-item-p;
    @apply text-[3rem] font-bold;
  }

  .project-info {
    @extend .project-item-p;
    @apply text-xl;
  }

  .section2-title {
    writing-mode: vertical-lr;
    text-orientation: upright;
    @apply absolute top-0 w-full h-full flex justify-center;
    @apply text-[3rem] leading-[110px] font-bold text-teal-700;
  }

  section2-body {
    @apply text-[];
  }
}

/* CSS */
.work-exp-btn {
  @apply rounded-full;

  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffffff 0,
    #5468ff 100%
  );
  border: 0;
  // border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 18px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.work-exp-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.work-exp-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.work-exp-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.work-exp-card {
  // @apply bg-[#DFEAFF];
  box-shadow: #7376f9 0px 3px 8px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
